<input #text type="text"  (keyup)="onKey($event)" >
<button (click)="onClickMe(text.value)">Search</button>
<p>Number of results: {{clickMessage}}</p> 
<br>

<ul *ngFor="let contract of foundConctracts">
  <li >
    <h2>{{contract._source.title}}</h2>
    {{contract._source.customer.name}}
    <!--{{contract._source.attachments[0].text}}-->
    <a href="{{contract._source.attachments[0].link}}" >Link</a>

  </li>
</ul>
<div [hidden]="!showPaginator" class="paginator">
<button (click)="getPreviousPage()">Previous Page</button>
<button (click)="getNextPage()">Next Page</button>
</div>

